@model IEnumerable<Ogretmen>

    <h2>Öğretmen Listesi</h2>
    <a href="/Ogretmen/Create" class="btn btn-sm btn-primary mb-3 ">Öğretmen Ekle</a>
    <hr>
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m=> m.OgretmenId)</th>
                <th>@Html.DisplayNameFor(m=> m.Ad)</th>
                <th>@Html.DisplayNameFor(m=> m.Soyad)</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ogretmen in Model){
                <tr>
                    <td>@Html.DisplayFor(modelItem => ogretmen.OgretmenId)</td>
                    <td>@Html.DisplayFor(modelItem => ogretmen.Ad)</td>
                    <td>@Html.DisplayFor(modelItem => ogretmen.Soyad)</td>
                    <td>
                        <a asp-controller="Ogretmen" asp-action="Edit" asp-route-id="@ogretmen.OgretmenId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-controller="Ogretmen" asp-action="Delete" asp-route-id="@ogretmen.OgretmenId" class="btn btn-sm btn-danger">Delete</a> 
                    </td>  
                </tr>
            }
        </tbody>
    </table>